/web/bundles/
/web/css/*
!/web/css/.gitkeep
/web/js/*
!/web/js/.gitkeep
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
!bin/fix_permissions
!bin/install_composer
!bin/setup
/composer.phar
.*.sw?
*~
