{% extends "::base.html.twig" %}

{% block title %}Player points incremented{% endblock %}

{% block body %}
    <div>
        The player {{ player.name }} now has {{ player.points }} points.
    </div>
{% endblock %}
